[*.{fs,fsx}]
max_line_length = 120
fsharp_max_if_then_short_width = 80
fsharp_max_if_then_else_short_width = 80
fsharp_max_record_width = 8
fsharp_max_record_number_of_items = 2
fsharp_record_multiline_formatter = number_of_items
fsharp_max_value_binding_width = 120
fsharp_max_function_binding_width = 80
fsharp_blank_lines_around_nested_multiline_expressions = true
fsharp_keep_max_number_of_blank_lines = 1